body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.header {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: #333;
}

.calculator {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#display {
    font-size: 2em;
    background: #ddd;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 50px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 1.5em;
    padding: 15px;
    border: none;
    background: #0ABAB5;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0ABAB5;
}

button:nth-child(16) {
    background: #ff4d4d;
}

button:nth-child(17) {
    background: #ff4d4d;
}
#backButton {
    background-color: #0a62ba; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  #backButton:hover {
    background-color: #048C88; 
  }
  